= content_for(:top_app_bar) do
  = toolbar(navigation_icon: link_to(icon(:arrow_back), <%= index_helper(type: :path) %>, class: "flex items-center"))

= panel do
  == render "form", <%= singular_table_name %>: @<%= singular_table_name %>