.mt-3.border.p-5.rounded
  = simple_form_for(import_line) do |f|
    = f.input :pnl_type, collection: import_line.class.pnl_types.keys, label_method: :titleize, as: :radio_buttons, input_html: { onchange: "this.form.requestSubmit()" }
    = f.input :notes, input_html: { onchange: "this.form.requestSubmit()" }
