= form_tag(url, multipart: true) do |f|
  = label_tag 'file', nil, class: "flex items-center cursor-pointer"
    span.material-icons.w-6.h-6.text-gray-500 file_upload
    = file_field_tag :file, class: "hidden", onchange: "this.form.requestSubmit()"
  
  