= content_for(:top_app_bar) do
  = toolbar(navigation_icon: link_to(icon(:arrow_back), @electricity_balance, class: "flex items-center"))

= panel do
  == render "form", electricity_balance: @electricity_balance