= content_for(:top_app_bar) do
  = toolbar(navigation_icon: link_to(icon(:arrow_back), @internet_purchase, class: "flex items-center"))

= panel do
  == render "form", internet_purchase: @internet_purchase